@model Zero_Hunger_SDG_2.Models.Crop

@{
    ViewData["Title"] = "Update";
}

<h1>UpdateCrop</h1>

<h4>Crop</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ConfirmEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CropName" class="control-label"></label>
                <input asp-for="CropName" class="form-control" required />
                <span asp-validation-for="CropName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CropYield" class="control-label"></label>
                <input asp-for="CropYield" class="form-control" required />
                <span asp-validation-for="CropYield" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CropExpenses" class="control-label"></label>
                <input asp-for="CropExpenses" class="form-control" required pattern="[0-9]*[.,]?[0-9]*" />
                <span asp-validation-for="CropExpenses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CropIncome" class="control-label"></label>
                <input asp-for="CropIncome" class="form-control" required pattern="[0-9]*[.,]?[0-9]*" />
                <span asp-validation-for="CropIncome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="CropId" />
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
