@{
    ViewData["Title"] = "Home Page";
}

<div class="row" style="justify-content:center; margin:10rem 0;">
    <div class="col-sm-4 mb-3 mb-sm-0">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" style="margin-bottom:1rem;">Add Crop</h5>
                <a asp-controller="Crop" asp-action="Create" class="btn btn-success">Create</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" style="margin-bottom:1rem;">View Crops</h5>
                <a asp-controller="Crop" asp-action="Index" class="btn btn-success">View</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" style="margin-bottom:1rem;">View Stats</h5>
                <a asp-controller="Crop" asp-action="Stats" class="btn btn-success">View</a>
            </div>
        </div>
    </div>
</div>
